*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion{
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(252, 106, 252);
}
.accordion .accordion_label, .accordion_content{
    padding: 14px 20px;
}
.accordion .accordion_label{
    display: block;
    color: #fff;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.accordion .accordion_label:hover{
 background-color: rgba(0, 0, 0, .02);   
}
.accordion .accordion_content{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 0.85rem;
    display: none;
    background: #fff;
    line-height: 1.6;
}

.accordion_input{
    display: none;
}
.accordion .accordion_input:checked ~ .accordion_content{
    display: block;
}