body {
  background-color: #123456;
  font-family: sans-serif;
}

.faq-body {
    width: 55rem;
    margin: 4rem auto;
    box-shadow: 0px 0px 16px #5b5b5b;
    border-radius: 0.2rem;
    padding: 5rem 5rem 2rem 5rem;
    background-color: #fff;
  }
  .faq-list {
    width: 55rem;
    margin: 1rem;
    padding: 2rem 0 0 0;
  }
div + div {
  clear: both;
}
p {
  line-height: 1.4rem;
  color: #9e9e9e;
}
.faq-title {
  font-size: 2rem;
  margin: 0.4rem 0;
}
div.seperator {
  width: 7.5rem;
  background-color: #e31b1b;
  height: 0.17rem;
  margin-left: -1.8rem;
}
.faq-list > div {
  border-bottom: 0.07rem solid #ededed;
  padding: 1.5rem 0;
}

.faq-list > div:last-child {
  border: unset;
}
details > summary {
  list-style: none;
}
summary {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}
summary:hover {
  color: #e31b1b;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 55px;
  }
}
details[open] summary {
  color: #e31b1b;
}
details[open] p {
  margin-left: 55px;
  border-left: 2px solid #e31b1b;
  padding-left: 25px;
  opacity: 100;
  transition: 100 3s ease;
}

summary::-webkit-details-marker {
  display: none;
}
summary::after {
  background: transparent;
  border-radius: 0.3rem;
  content: "+";
  color: #e31b1b;
  float: left;
  font-size: 1.8rem;
  font-weight: bold;
  margin: -0.3rem 0.65rem 0 0;
  padding: 0;
  text-align: center;
  width: 25px;
}
details[open] summary::after {
  content: "-";
  font-size: 3.2rem;
  margin: -23px 0.35rem 0 0;
  font-weight: 200;
}
