html{
    width:100%;
    height: 100%;
    color: rgba(48,69,92,0.8);
    background: #dce7eb;
    overflow-y: scroll;

    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 0;
    max-width: 450px;
    display: inline-block;
    position: relative;

    left: 50%;
    transform: translate(-50%,0);
    margin: 90px 0;
    padding: 30px;
    background: #FEFFFA ;
    box-shadow: 0 7px 7px 7px orange inset;
}
h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
ul{
    list-style: none;
}
ul li{
    position: relative;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px solid #dce7eb;
}
ul li input[type="checkbox"]{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
ul li i{
    position: absolute;
    transform: translate(-6px,0);
    margin-top: 16px;
    right: 0;
}
ul li input[type="checkbox"]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translateX(-50%);
}
ul li input[type="checkbox"]:checked~i::before{
    transform: translate(2px,0), rotate(45deg);
}
ul li input[type="checkbox"]:checked~i::before{
    transform: translate(-2px,0), rotate(-45deg);
}
ul li i::before,
ul li i::after{
    content: "";
    position: absolute;
    background: #333;
    width: 3px;
    height: 9px;
}
ul li i::before{
    transform: translate(-2px,0) rotate(45deg);
}
ul li i::after{
    transform: translate(2px,0) rotate(-45deg);
}
p{
    font-size: 16px;
    color: rgba(48, 69, 92, 0.8);
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    padding: 0 11px;
    max-height: 800px;
    margin-top: 14px;
    opacity: 1;
    transform: translate(0,0);
    overflow: hidden;
}
.transition, p, u li i::before, ul li  i::after{
    transition: all 0.25px ease-in-out;
}
.flipIn, h1, ul li{
    animation: flipdown 0.5s ease both;
}
ul li:nth-of-type(1){
    animation-delay: 0.5s;
}
ul li:nth-of-type(2){
    animation-delay: 0.75s;
}
ul li:nth-of-type(3){
    animation-delay: 1s;
}
ul li:last-of-type{
    margin-bottom: 0;
}

@keyframes flipdown {
    0%{
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5%{
        opacity: 1;
    }
    80%{
        transform: rotateX(8deg);
    }
    83%{
        transform: rotateX(6deg);
    }
    92%{
        transform: rotateX(-3deg);
    }
    100%{
        transform: rotateX(0deg);
        transform-origin: top center;
    }
}