
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #114357 60%, #f29492);
  line-height: 1.6;
}
.collapse-content{
  width: 50vh;
  margin: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.collapse{
  background: #fff;
}
.collapse a{
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 1.8rem;
  color: #fff;
  position: relative;
}
.collapse a.instagram{
  background: #db2e7d;
}
.collapse a.twitter{
  background: #1dabdd;
}
.collapse a.facebook{
  background: #1979e7;
}
.collapse a.youtube{
  background: #ff0000;
}
.collapse a::after{
  content: "";
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 25px;
  right: 30px;
}
.inner-content{
  padding: 1.3rem;
}
.content{
  max-height: 0;
  transition: 0.3s linear 0s;
overflow: hidden;
}
.collapse + .collapse a{
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}
h3{
  margin-bottom: 15px;
}
.collapse:target .content{
  max-height: 12rem;
}
.collapse:target a:after {
  transform: rotate(-90deg);
} 